server:
  port: 9001

spring:
  application:
    name: boki-admin

eureka:
  instance:
    instance-id: boki-admin-9001
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8000/eureka/
