<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boki.bokiadministrator.dao.LoginDao">
    <select id="findByMailAndPwd" parameterType="UserPO" resultType="UserPO">
        select * from boki_user where mail = #{mail} and pwd = #{pwd} and  is_deleted = 'n';
    </select>

</mapper>