<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html">
    <title>全部木大！！</title>
    <script th:src="@{/static/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/static/js/util.js}"></script>
<!--    <script th:src="@{/static/js/vue.js}"></script>-->

</head>
<body>
<h2>基础登陆页！</h2>
<form id="loginForm" >
    <input type="text" name="mail" value="" /><br/>
    <input type="text" name="pwd" value="" /><br/>
<!--    <button id="doLogin">登陆</button>-->
</form>
<button id="doLogin">登陆</button><br/>
<span id = "responseData"></span>

<script type="text/javascript" th:inline="javascript">
    var basePath = [[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]];
    $('#doLogin').click(function() {
        commonLogin();
    });
</script>

</body>
</html>