<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html">
    <title>全部木大！！</title>
    <script th:src="@{/static/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/static/js/util.js}"></script>
<!--    <script th:src="@{/static/js/vue.js}"></script>-->

</head>
<body>
<h2>论坛首页！</h2>
<span id = "responseData" style="color: limegreen"></span>
<p>帖子列表</p>
<div>
    <span id="postsList"></span>
</div>

<p>发帖</p>
<div>
    <form id="sendPost" >
        标题<input type="text" name="title" value="" /><br/>
        内容<textarea name="content" value="" ></textarea><br/>
        <a id="doSendPost" style="color: fuchsia">发帖</a>
    </form>
    <script type="text/javascript" th:inline="javascript">
        //发帖
        $('#doSendPost').click(function() {
            $.ajax({
                url: basePath + "/post/sendPost",
                type: "post",
                contentType: "application/json",
                dataType: "json",
                data: formToJson($('#sendPost')),
                async: false,
                success: function (data) {
                    alert(data.code + data.msg);
                    if (data.data != null) {
                        $('#responseData').text(JSON.stringify(data.data));
                    }
                },
                error: function () {
                    alert("请求失败.");
                }
            });
        });
    </script>
</div>

<p>登陆表单，异步登陆</p>
<div>

    <form id="loginForm" >
        邮箱<input type="text" name="mail" value="" /><br/>
        密码<input type="text" name="pwd" value="" /><br/>
        <a id="doLogin" style="color: fuchsia">登陆</a><br/>
    </form>
    <script type="text/javascript" th:inline="javascript">
    var basePath = [[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]];
    $('#doLogin').click(function() {
        commonLogin();
    });
</script>
</div>

</body>
</html>