<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>全部木大！！</title>
<!--    <script th:src="@{/static/js/vue.js}"></script>-->
    <script th:src="@{/static/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/static/js/util.js}"></script>
</head>
<body>
    <img src="http://localhost:9002/images/20200313121724_9204738b4710b912866fce9ecdfdfc039245223c.jpg">
    <form id="test1" >
        日期<input type="date" name="birth" value="" /><br/>
        <a id="doTest" style="color: fuchsia">测试</a>
    </form>
    <script type="text/javascript" th:inline="javascript">
        $('#doTest').click(function() {
            $.ajax({
                url: basePath + "/user/modifyInfo",
                type: "post",
                contentType: "application/json",
                dataType: "json",
                data: formToJson($('#test1')),
                async: false,
                success: function (data) {
                    alert(data.code+data.msg);
                    if (data.data != null) {
                        $('#responseData').text(JSON.stringify(data.data));
                    }
                },
                error: function () {
                    alert("请求失败.");
                }
            });
        });
    </script>

    <h2>注册页！！！</h2>
    <p>注册表单</p>
    <form id="registerForm" >
        邮箱<input id="mail" type="text" name="mail" value="" /><br/>
        昵称<input type="text" name="userName" value="" /><br/>
        密码<input type="text" name="pwd" value="" /><br/>
        验证码<input  type="text" name="checkCode" value="" /><a id="sendCode" style="color: fuchsia">发送验证码</a><br/>
        <a id="doRegister" style="color: fuchsia">注册</a>
    </form>
    <script type="text/javascript" th:inline="javascript">
        //发送验证码
        $('#sendCode').click(function() {
            $.ajax({
                url: basePath + "/user/sendCheckCode/"+$('#mail').val(),
                type: "get",
                contentType: "application/json",
                dataType: "json",
                async: true,
                success: function (data) {
                    alert(data.code+data.msg);
                    if (data.data != null) {
                        $('#responseData').text(JSON.stringify(data.data));
                    }
                },
                error: function () {
                    alert("请求失败.");
                }
            });
        });
        //注册
        $('#doRegister').click(function() {
            $.ajax({
                url: basePath + "/user/register",
                type: "post",
                contentType: "application/json",
                dataType: "json",
                data: formToJson($('#registerForm')),
                async: false,
                success: function (data) {
                    alert(data.code+data.msg);
                    if (data.data != null) {
                        $('#responseData').text(JSON.stringify(data.data));
                    }
                },
                error: function () {
                    alert("请求失败.");
                }
            });
        });
    </script>


    <p>登陆表单</p>
    <form id="loginForm" >
        邮箱<input type="text" name="mail" value="" /><br/>
        密码<input type="text" name="pwd" value="" /><br/>
        <a id="doLogin" style="color: fuchsia">登陆</a><br/>
    </form>
    <span id = "responseData" style="color: limegreen"></span>

    <script type="text/javascript" th:inline="javascript">
        var basePath = [[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]];
        $('#doLogin').click(function() {
            commonLogin();
        });
    </script>
</body>
</html>