<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boki.bokiclient.dao.CommonDao">
    <resultMap id="Integer" type="Integer">
        <result column="totalCount"></result>
    </resultMap>

    <resultMap id="PostDetailDTO" type="PostDetailDTO"></resultMap>
    <resultMap id="ReplyDTO" type="ReplyDTO"></resultMap>
    <select id="getPostDetail" resultMap="PostDetailDTO,Integer,ReplyDTO">
        -- 帖子基本信息
        SELECT id,user_id,title,replies_count,type_id FROM boki_post WHERE id = #{postId};
        -- 楼层总数
        SELECT COUNT(1) AS totalCount FROM boki_reply br
        JOIN boki_user bu ON br.user_id = bu.id
        WHERE br.post_id = #{postId};
        -- 楼层列表
        SELECT br.id,
        br.user_id,br.post_id,br.floor_no,br.create_time,br.content,br.replies_count,
	        bu.user_name,bu.photo,bu.exp,bu.credit_degree,bu.role_id,bu.show
        FROM boki_reply br
        JOIN boki_user bu ON br.user_id = bu.id
        WHERE br.post_id = #{postId}
        ORDER BY br.floor_no
        LIMIT #{start},#{end};
    </select>

    <select id="findStoreyReplyById"  resultType="StoreyReplyDTO">
        SELECT
            bsr.id,
            bsr.storey_id,
            bsr.user_id,
            bu1.user_name,
--             bsr.to_user_id,
--             bu2.user_name AS to_user_name,
            bsr.content,
            bsr.create_time
        FROM boki_storey_reply bsr
        JOIN boki_user bu1 ON bsr.user_id = bu1.id
--         JOIN boki_user bu2 ON bsr.user_id = bu2.id
        WHERE bsr.storey_id = #{replyId}
        LIMIT #{start},#{end}
    </select>

<!--    bean-->
    <select id="getPostType" resultType="PostTypeDTO">
        SELECT id,`type` FROM boki_post_type
    </select>
<!--    bean-->
    <select id="getPermissions" resultType="RolePermissionDTO">
        SELECT br.id,br.role,bp.permission FROM boki_role br
        JOIN boki_permission bp ON br.id = bp.role_id
        ORDER BY br.id
    </select>
<!--    bean-->
    <select id="getLevelTable" resultType="UserLevelDTO">
        SELECT `level`,`exp` from boki_user_level
    </select>
<!--    bean-->
    <select id="getHonorTable" resultType="UserHonorDTO">
        SELECT * from boki_user_honor
    </select>
</mapper>